*{
	margin:0;
	padding:0
}
body{
        font-size:14px;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
header{
	float: left;
	display:block;
	position: fixed;
	vertical-align:middle; 
	width:25%;
	height:100%;
	line-height: 100%;
	background-color: #373E40;
	color:#FFF;
	text-align: right;
	
    


}
#headpic{
	width:100px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 50px;
}
header> p{
	font-size: 22px;
	margin-top: 15px;
	margin-right: 20px;
}
header ul{
	margin-top: 25px;
	line-height: 2em;
	margin-right: 20px;
}
header li{
	list-style-type:none;
	padding:5px;
}
header li a{
	color:#FFF;
	text-decoration: none;
}
header li a:hover{
	color:#00B0F0;
}
main{
	background-color: #E8E8E8;
	margin-left: 25%;
	
	
	padding:50px;

}
main li{
	list-style-type:none;
}
.article-title{
    line-height: 1.5em;
    text-align: center;
    margin-top:15px;

}
.article-meta{
    text-align: center;
    margin:10px 0px 50px 0px;
    font-size:12px;
}
.article-main{
	margin:10 40 60 40;
	text-indent: 2em;
}
div.article-more{
	text-align: center;
	margin-bottom: 60px;

}
a.article-more{

	width: 100px;
	height: 30px;
	border:1px solid #373E40;
	padding:5px;
	color: #373E40;
}
