*{
	margin:0px;
	padding:0px;
}
body{
	font-size:14px;
}
ul{
	list-style: none;

}

header{
	width:100%;
	height:350px;
	background-color: #373E40;
	color:white;
	text-align: center;

}
header p{
	font-size: 34px;
	margin:20px 0 0 0;
}
#headpic{
	width:100px;
	height:100px;
	margin-top:50px;
}
nav{
	margin-top: 60px
}
header ul{
	
	height:30px;
	line-height: 30px;
	font-size:14px;
   
}
header li{
	display:inline-block;
	margin:0 15px;

}
header a{
	text-decoration: none;
	color:#FFF;
	
}
.article-title{
	line-height: 1.5em;
    text-align: center;
    margin-top: 10px
}
.article-meta{
text-align: center;
margin:5px 0px 15px 0px;
font-size: 12px;

}
.article-main{
	margin:10 10 30 10;
	text-indent: 2em;
	font-size:12px;
}
div.article-more{
	text-align: center;
	margin-bottom: 30px;

}
a.article-more{

	width: 100px;
	height: 30px;
	border:1px solid #373E40;
	padding:5px;
	color: #373E40;
	text-decoration: none;

}
